<b>Office hours:</b>
On request

<b>Phone:</b>
+49 (0) 551 - 39 24606

<b>Office:</b>
Humboldtallee 3, Room 3.106

<b>E-Mail:</b>
<a href="mailto:rene-marcel.kruse@uni-goettingen.de" title="Opens window for sending email" class="mail">rene-marcel.kruse[at]uni-goettingen.de</a>