<b>Research Interests</b>
<liste>
    <punkt>Computational Statistics
    </punkt>
    <punkt>Deep Distributional Learning
    </punkt>
    <punkt>Semiparametric Regression
    </punkt>
    <punkt>Model Selection
    </punkt>
</liste>

<b>Current Project</b>
<liste>
    <punkt><a href="https://www.uni-goettingen.de/en/592287.html">Daten Lesen Lernen</a>, funded by Siemens-Nixdorf Stiftung and <a href="https://www.stifterverband.org/data-literacy-education">Deutscher Stifterverband</a>
    </punkt>
</liste>

<b>Teaching</b>
<liste>
    <punkt> Data Science Summer School (SS 2019)
    </punkt>
    <punkt>Seminar: Deep Learning Algorithmen (WS 2019/20)
    </punkt>
    <punkt>Daten Lesen Lernen (<a href="https://github.com/Daten-Lesen-Lernen">GitHub</a>)
    </punkt>
</liste>