<b>Forschungsinteressen</b>
<liste>
    <punkt>Computergestützte Statistik
    </punkt>
    <punkt>Deep Distributional Learning
    </punkt>
    <punkt>Semiparametrische Regression
    </punkt>
    <punkt>Model Wahl
    </punkt>
</liste>

<b>Aktuelles Projekt</b>
<liste>
    <punkt><a href="https://www.uni-goettingen.de/de/592287.html">Daten Lesen Lernen</a>, finanziert durch die Siemens-Nixdorf Stiftung und <a href="https://www.stifterverband.org/data-literacy-education">Deutscher Stifterverband</a>
    </punkt>
</liste>
<b>Lehre</b>
<liste>
    <punkt>Data Science Summer School (SS 2019)
    </punkt>
    <punkt>Seminar: Deep Learning Algorithmen (WS 2019/20)
    </punkt>
    <punkt>Daten Lesen Lernen (<a href="https://github.com/Daten-Lesen-Lernen">GitHub</a>)
    </punkt>
</liste>